{% extends 'wrapper.html' %}
{% load static %}
{% block body %}
    <body class="full-screen register">
    {% include 'App/navbar.html' %}
    <div class="wrapper">
        <div class="page-header"
             style="background-image: url('{% static 'TelegramApplication/assets/img/sections/soroush-karimi.jpg' %}');">
            <div class="filter"></div>
            <div class="container">
                <div class="row">
                    {#                    <div class="col-md-6 col-sm-7 col-12 ml-auto">#}
                    {#                        <div class="info info-horizontal">#}
                    {#                            <div class="icon">#}
                    {#                                <i class="fa fa-umbrella"></i>#}
                    {#                            </div>#}
                    {#                            <div class="description">#}
                    {#                                <h3> We've got you covered </h3>#}
                    {#                                <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.#}
                    {#                                    Everything you need in a single case.</p>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="info info-horizontal">#}
                    {#                            <div class="icon">#}
                    {#                                <i class="fa fa-map-signs"></i>#}
                    {#                            </div>#}
                    {#                            <div class="description">#}
                    {#                                <h3> Clear Directions </h3>#}
                    {#                                <p>Efficiently unleash cross-media information without cross-media value. Quickly#}
                    {#                                    maximize timely deliverables for real-time schemas.</p>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="info info-horizontal">#}
                    {#                            <div class="icon">#}
                    {#                                <i class="fa fa-user-secret"></i>#}
                    {#                            </div>#}
                    {#                            <div class="description">#}
                    {#                                <h3> We value your privacy </h3>#}
                    {#                                <p>Completely synergize resource taxing relationships via premier niche markets.</p>#}
                    {#                            </div>#}
                    {#                        </div>#}
                </div>
                <div class="col-md-4 col-sm-5 col-12 mr-auto">
                    <div class="card card-register">
                        <h3 class="card-title text-center">Register Telegram Account</h3>

                        <div class="separator-line space-top"></div>
                        {# tg-* needs for simple.js  #}
                        <form id="tg-form" class="space-top register-form" action="{% url 'Api-account-add' %}">
                            {% csrf_token %}
                            <input required name="tg-phone" id="tg-phone" type="tel" class="form-control" placeholder="Phone number" autocomplete="off">
                            <input required name="tg-code" id="tg-code" type="text" class="form-control" placeholder="Confirmation code" autocomplete="off" style="display: none">
                            <button type="button" id="tg-button" class="btn btn-block btn-round">Next</button>
                        </form>
                        {#                            <div class="login">#}
                        {#                                <p>Already have an account? <a href="#0">Log in</a>.</p>#}
                        {#                            </div>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="demo-footer text-center">
            <h6>{% include 'credits.html' %}</h6>
        </div>
    </div>
    </div>

    </body>
    {% include 'App/footer.html' %}
{% endblock %}
