{% extends 'wrapper.html' %}
{% load static %}
{% block body %}<body class="fixed-top">
{% include 'TelegramApplication/navbar.html' %}
<div class='main'>
    <div class="page-header" style="background-image: url('{% static 'TelegramApplication/assets/img/cover.jpg' %}')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="motto">
                <h1 class="text-center">Simple Telegram Application</h1>
                <h3 class="text-center">
                    <div class="credits ml-auto">
                        {% include 'credits.html' %}
                    </div>
                </h3>
            </div>
        </div>
    </div>
</div>
</body>{% endblock %}