{% extends 'navbar.html' %}
{% block navbar-extra %}
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            {#                <li class="nav-item">#}
            {#                    <a class="nav-link" href="index.html" data-scroll="true" href="javascript:void(0)">Contacts</a>#}
            {#                </li>#}
            {#                <li class="nav-item dropdown">#}
            {#                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">Sections</a>#}
            {#                    <ul class="dropdown-menu dropdown-menu-right dropdown-danger">#}
            {#                        <a class="dropdown-item" href="sections.html#headers"><i class="nc-icon nc-tile-56"></i>&nbsp;#}
            {#                            Headers</a>#}
            {#                        <a class="dropdown-item" href="sections.html#features"><i class="nc-icon nc-settings"></i>&nbsp;#}
            {#                            Features</a>#}
            {#                        <a class="dropdown-item" href="sections.html#blogs"><i class="nc-icon nc-bullet-list-67"></i>&nbsp;#}
            {#                            Blogs</a>#}
            {#                        <a class="dropdown-item" href="sections.html#teams"><i class="nc-icon nc-single-02"></i>&nbsp;#}
            {#                            Teams</a>#}
            {#                        <a class="dropdown-item" href="sections.html#projects"><i class="nc-icon nc-calendar-60"></i>&nbsp;#}
            {#                            Projects</a>#}
            {#                        <a class="dropdown-item" href="sections.html#pricing"><i class="nc-icon nc-money-coins"></i>&nbsp;#}
            {#                            Pricing</a>#}
            {#                        <a class="dropdown-item" href="sections.html#testimonials"><i class="nc-icon nc-badge"></i>&nbsp;#}
            {#                            Testimonials</a>#}
            {#                        <a class="dropdown-item" href="sections.html#contact-us"><i class="nc-icon nc-mobile"></i>&nbsp;#}
            {#                            Contacts</a>#}
            {#                    </ul>#}
            {#                </li>#}
            {#                <li class="nav-item dropdown">#}
            {#                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Examples</a>#}
            {#                    <ul class="dropdown-menu dropdown-menu-right dropdown-danger">#}
            {#                        <a class="dropdown-item" href="#"><i class="nc-icon nc-bank"></i>&nbsp;#}
            {#                            About Us</a>#}
            {#                        <a class="dropdown-item" href="examples/add-product.html"><i class="nc-icon nc-basket"></i>&nbsp;#}
            {#                            Add Product</a>#}
            {#                        <a class="dropdown-item" href="examples/blog-post.html"><i class="nc-icon nc-badge"></i>&nbsp;#}
            {#                            Blog Post</a>#}
            {#                        <a class="dropdown-item" href="examples/blog-posts.html"><i#}
            {#                                class="nc-icon nc-bullet-list-67"></i>&nbsp; Blog Posts</a>#}
            {#                        <a class="dropdown-item" href="examples/contact-us.html"><i class="nc-icon nc-mobile"></i>&nbsp;#}
            {#                            Contact Us</a>#}
            {#                        <a class="dropdown-item" href="examples/discover.html"><i class="nc-icon nc-world-2"></i>&nbsp;#}
            {#                            Discover</a>#}
            {#                        <a class="dropdown-item" href="examples/ecommerce.html"><i class="nc-icon nc-send"></i>&nbsp;#}
            {#                            Ecommerce</a>#}
            {#                        <a class="dropdown-item" href="examples/landing.html"><i class="nc-icon nc-spaceship"></i>&nbsp;#}
            {#                            Landing</a>#}
            {#                        <a class="dropdown-item" href="examples/login.html"><i class="nc-icon nc-lock-circle-open"></i>&nbsp;#}
            {#                            Login</a>#}
            {#                        <a class="dropdown-item" href="examples/product-page.html"><i class="nc-icon nc-album-2"></i>&nbsp;#}
            {#                            Product Page</a>#}
            {#                        <a class="dropdown-item" href="examples/profile.html"><i class="nc-icon nc-single-02"></i>&nbsp;#}
            {#                            Profile</a>#}
            {#                        <a class="dropdown-item" href="examples/register.html"><i class="nc-icon nc-bookmark-2"></i>&nbsp;#}
            {#                            Register</a>#}
            {#                        <a class="dropdown-item" href="examples/search-with-sidebar.html"><i#}
            {#                                class="nc-icon nc-zoom-split"></i>&nbsp; Search</a>#}
            {#                        <a class="dropdown-item" href="examples/settings.html"><i#}
            {#                                class="nc-icon nc-settings-gear-65"></i>&nbsp; Settings</a>#}
            {#                        <a class="dropdown-item" href="examples/twitter-redesign.html"><i#}
            {#                                class="nc-icon nc-tie-bow"></i>&nbsp; Twitter</a>#}
            {#                    </ul>#}
            {#                </li>#}
            <li class="nav-item content-center">
                <a class="btn btn-round btn-danger btn-lg" href="{% url 'Login-page' %}">  {# TODO: change this #}
                    <i class="nc-icon nc-user-run"></i> Get Started
                </a>
            </li>
        </ul>
    </div>
{% endblock %}