{% extends 'wrapper.html' %}
{% load static %}
{% block body %}
    <body class="full-screen login">
    {% include 'TelegramApplication/navbar.html' %}

    <div class="wrapper">
        <div class="page-header" style="background-image: url('{% static 'TelegramApplication/assets/img/sections/pk-pro-cover.jpg'%}');">
            <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                        <div class="card card-register" style="min-height: auto">
                            <h3 class="card-title">Welcome</h3>
                            <form method="post" class="register-form">
                                {% csrf_token %}
{#                                <label>Email</label>#}
{#                                <input type="email" class="form-control no-border" placeholder="Email">#}
{##}
{#                                <label>Password</label>#}
{#                                <input type="password" class="form-control no-border" placeholder="Password">#}
                                <label>PIN Code</label>
                                <input type="text" class="form-control no-border" name="pin-code">
                                <button class="btn btn-danger btn-block btn-round">Log In</button>
                            </form>
                            <div class="forgot">
                                <a href="#" class="btn btn-link btn-danger">I don't have a PIN</a>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="demo-footer text-center">
					<h6>{% include 'credits.html' %}</h6>
				</div>
            </div>
        </div>
    </div>

</body>
{% endblock %}