{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="{% static 'TelegramApplication/assets/img/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'TelegramApplication/assets/img/apple-icon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    {% if title %}
        <title>{{ title }} - Telegram Application</title>
    {% else %}
        <title>Telegram Application</title>
    {% endif %}

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>


    <!--    For animation cards     -->
    <link href="{% static 'App/css/simple.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://daemonite.github.io/material/css/material.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

    <link href="{% static 'TelegramApplication/assets/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'TelegramApplication/assets/css/paper-kit.css' %}" rel="stylesheet"/>
    <link href="{% static 'TelegramApplication/assets/css/demo.css' %}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'TelegramApplication/assets/css/nucleo-icons.css' %}" rel="stylesheet">


</head>
{% block body %}{% endblock %}

<!-- Core JS Files -->
{#<script src="{% static 'TelegramApplication/assets/js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>#}
{#<script src="{% static 'TelegramApplication/assets/js/jquery-ui-1.12.1.custom.min.js' %}"#}
{#        type="text/javascript"></script>#}
<script src="{% static 'TelegramApplication/assets/js/popper.js' %}" type="text/javascript"></script>
<script src="{% static 'TelegramApplication/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>

<!-- Switches -->
<script src="{% static 'TelegramApplication/assets/js/bootstrap-switch.min.js' %}"></script>

<!--  Plugins for Slider -->
<script src="{% static 'TelegramApplication/assets/js/nouislider.js' %}"></script>

<!--  Photoswipe files -->
<script src="{% static 'TelegramApplication/assets/js/photo_swipe/photoswipe.min.js' %}"></script>
<script src="{% static 'TelegramApplication/assets/js/photo_swipe/photoswipe-ui-default.min.js' %}"></script>
<script src="{% static 'TelegramApplication/assets/js/photo_swipe/init-gallery.js' %}"></script>

<!--  Plugins for Select -->
<script src="{% static 'TelegramApplication/assets/js/bootstrap-select.js' %}"></script>

<!--  for fileupload -->
<script src="{% static 'TelegramApplication/assets/js/jasny-bootstrap.min.js' %}"></script>

<!--  Plugins for Tags -->
<script src="{% static 'TelegramApplication/assets/js/bootstrap-tagsinput.js' %}"></script>

<!--  Plugins for DateTimePicker -->
<script src="{% static 'TelegramApplication/assets/js/moment.min.js' %}"></script>
<script src="{% static 'TelegramApplication/assets/js/bootstrap-datetimepicker.min.js' %}"></script>

<script src="{% static 'TelegramApplication/assets/js/paper-kit.js' %}"></script>
<script src="{% static 'App/js/simple.js' %}"></script>
</html>