{% extends 'wrapper.html' %}
{% load static %}
{% block body %}
    <body class="search">
    {% include 'App/navbar.html' %}
    <div class="wrapper">

        <div class="main">
            <div class="section section-white section-search">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-12 ml-auto mr-auto text-center">
                            <form action="{% url 'Api-search-chats' %}" add-chat-action="{% url 'Api-add-chat' %}" id="tg-chat-search-form" role="search" class="form-inline search-form">
                                <div class="input-group no-border">
                                    <span class="input-group-addon addon-xtreme no-border" id="basic-addon1"><i
                                            class="fa fa-search"></i></span>
                                    <input type="text" id="tg-chat-search" class="form-control input-xtreme no-border"
                                           placeholder="Start typing..." aria-describedby="basic-addon1">
                                </div>
                            </form>

                            <h6 class="text-muted invisible">Is this what you are looking for?</h6>

                            <ul class="list-unstyled follows" id="tg-search-chat-result">


{#                                <li>#}
{#                                    <div class="row">#}
{#                                        <div class="col-md-2 col-3">#}
{#                                            <img src="{% static 'TelegramApplication/assets/img/faces/ayo-ogunseinde-2.jpg' %}"#}
{#                                                 alt="Circle Image" class="img-circle img-no-padding img-responsive">#}
{#                                        </div>#}
{#                                        <div class="col-md-6 col-4 description">#}
{#                                            <h5>Erik Faker<br>#}
{#                                                <small>Musical Artist with <b>3</b> songs.</small>#}
{#                                            </h5>#}
{#                                        </div>#}
{#                                        <div class="col-md-2 col-2">#}
{#                                            <button class="btn btn-just-icon btn-round btn-outline-danger btn-tooltip"#}
{#                                                    rel="tooltip" title="follow"><i class="fa fa-plus"></i></button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </li>#}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'App/footer.html' %}
    </body>
{% endblock %}