{% extends 'wrapper.html' %}
{% load static %}
{% block body %}
    {% include 'App/navbar.html' %}
    <body>
    {% if contacts_group %}
        <div class="wrapper">
            {#        <div class="page-header page-header-small"#}
            {#             style="background-image: url('{% static 'TelegramApplication/assets/img/sections/rodrigo-ardilha.jpg' %}');">#}
            {#            <div class="filter"></div>#}
            {#        </div>#}
            <div class="profile-content section">
                <div class="container">
                    <div class="row">
                        <div class="profile-picture">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                {#                            <div class="fileinput-new img-no-padding">#}
                                {#                                <img src="{% static 'TelegramApplication/assets/img/faces/joe-gardner-2.jpg' %}"#}
                                {#                                     alt="...">#}
                                {#                            </div>#}
                                <div class="name">
                                    <h4 class="title text-center">{{ contacts_group.chat_name }}<br/>
                                        <small>Created: {{ contacts_group.time_created }}</small>
                                        <br/>
                                        <small>Users in DB: {{ contacts_group.users_count }}</small>
                                        <br/>
                                        <small>Already added: {{ contacts_group.added_users_count }}</small><br>
                                        <a href="{% url "contact_to_csv" contacts_group.chat_id 1 %}" type="button" class="btn btn-outline-primary" style="margin: 10px 0">Export to csv</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="separator-line"></div>
                    </div>
                    <!-- Tab panes -->

                    <div class="tab-content space-top">
                        <div class="tab-pane active" id="follows" role="tabpanel">
                            <div class="row">
                                <div class="col-md-6 ml-auto mr-auto">
                                    <ul class="list-unstyled follows">
                                        {% if users %}
                                            {% for user in users %}
                                                <li>
                                                    <a href="https://t.me/{{ user.username }}" target="_blank">
                                                        <div class="{% if user.bot %}bg-warning {% endif %}row">
                                                            {#                                                <div class="col-md-2 col-3">#}
                                                            {#                                                    <img src="{% static 'TelegramApplication/assets/img/faces/clem-onojeghuo-3.jpg' %}"#}
                                                            {#                                                         alt="Circle Image"#}
                                                            {#                                                         class="img-circle img-no-padding img-responsive">#}
                                                            {#                                                </div>#}
                                                            <div class="col-md-7 col-4">
                                                                <h6>{{ user.first_name }}  {{ user.last_name }}<br/>
                                                                    <small>ID: {{ user.id }}</small><br />
                                                                    <small>Username: {{ user.username }}</small>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <hr/>
                                            {% endfor %}
                                        {% endif %}
                                        {#                                        <li>#}
                                        {#                                            <div class="row">#}
                                        {#                                                <div class="col-md-2 col-3">#}
                                        {#                                                    <img src="{% static 'TelegramApplication/assets/img/faces/erik-lucatero-2.jpg' %}"#}
                                        {#                                                         alt="Circle Image"#}
                                        {#                                                         class="img-circle img-no-padding img-responsive">#}
                                        {#                                                </div>#}
                                        {#                                                <div class="col-md-7 col-4">#}
                                        {#                                                    <h6>Banks<br/>#}
                                        {#                                                        <small>Singer</small>#}
                                        {#                                                    </h6>#}
                                        {#                                                </div>#}
                                        {#                                                <div class="col-md-3 col-2">#}
                                        {#                                                    <div class="unfollow">#}
                                        {#                                                        <div class="form-check">#}
                                        {#                                                            <label class="form-check-label">#}
                                        {#                                                                <input class="form-check-input" type="checkbox"#}
                                        {#                                                                       value="">#}
                                        {#                                                                <span class="form-check-sign"></span>#}
                                        {#                                                            </label>#}
                                        {#                                                        </div>#}
                                        {#                                                    </div>#}
                                        {#                                                </div>#}
                                        {#                                            </div>#}
                                        {#                                        </li>#}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="wrapper">
            <div class="notifications notification-bubble">
                <span class="text-warning">No Chat found in Database</span>
            </div>
        </div>
    {% endif %}
    </body>
{% endblock %}