{% block footer %}
    <footer class="footer footer-black fixed-bottom" style="position:fixed;">
        <div class="container">
            <div class="row">
                <nav class="footer-nav">
                    <ul>
                        <li><a href="{% url 'TelegramApplication-home' %}">Telegram Application</a></li>
                        <li><a href="{% url 'App-home' %}">Application Home</a></li>
                    </ul>
                </nav>
                <div class="credits ml-auto">
				{% include 'credits.html' %}
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
