{% extends 'wrapper.html' %}
{% block body %}
  <body>
  {% include 'App/navbar.html' %}
  {# FIXME: navbar issue when scroll down and up quickly. I think it depends on messages below#}
  {#    {% if messages %} {# TODO: make this #}
  {#        <div class="container">#}
  {#            {% for message in messages %}#}
  {#                <div class="alert alert-{{ message.tags }}">#}
  {#                    {{ message }}#}
  {#                </div>#}
  {#                </div>#}
  {#            {% endfor %}#}
  {#        </div>#}
  {#    {% endif %}#}
  <div class="wrapper">
    <div class="main">
      <div class="section">
        <div class="container">
          <form action="{% url 'Api-create-group' %}" method="post" id="message-send-form"></form>
          <h3 class="space-top">Telegram Accounts</h3>
          {#                        <a href="{% url "to_csv" 1 %}" type="button" class="btn btn-outline-primary" style="margin: 10px 0">Export to csv</a>#}
          <div class="separator-line">

          </div>
          <div class="row space-top">
            <fieldset id="accounts">
              {% for account in accounts %}
                <label class="col-sm-auto">
                  <input type="radio" id="{{ account.id }}" value="{{ account.phone_number }}"
                         name="account"
                         class="card-input-element d-none"/>
                  <div class="card no-transition bg-success d-flex flex-row justify-content-between align-items-center">
                    <div class="card-body">
                      <div>
                        {#                                                <div class="float-right col-1">#}
                        <a href="{% url 'Accounts-delete' account.phone_number %}"
                           class="btn btn-si bg-danger">
                          <div class="card-icon"><i
                            class="nc-icon nc-simple-remove"></i></div>
                        </a></div>
                      <h5 class="card-title">{{ account.phone_number }}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{ account.time_created }}</h6>
                      {#                                        <p class="card-text">{{ accoutn.comment }}</p>#}
                    </div>
                  </div>
                </label>
              {% endfor %}
            </fieldset>
            <div class="col-sm-auto">
              <div class="card no-transition bg-primary">
                <a href="{% url 'Accounts-add' %}">
                  <div class="card-body">
                    <h5 class="card-category">Add a Telegram Account</h5>
                    <div class="card-icon"><i class="nc-icon nc-simple-add"></i></div>
                    <h6 class="card-title">Log in to Telegram</h6>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <h3 class="space-top">Contact Groups</h3>
          {#                        <form method="post" enctype="multipart/form-data">{% csrf_token %}#}
          {#                            {{import_form.as_p }}#}
          {#                            <input type="submit" class="btn btn-outline-primary" value="Import">#}
          {#                        </form>#}
          <button
            type="button"
            id="send-message-button"
            class="btn btn-danger btn-lg"
            data-toggle="modal"
            data-target="#exampleModal1"
            style="margin: 2% 0"
          >
            Import contacts
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalLabel1" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Import contacts</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    {{ import_form.as_p }}
                    <input type="submit" class="btn btn-outline-primary" value="Import">
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="separator-line"></div>
          {#                    <div class="col-md-5 col-sm-5">#}
          {#                        <div class="card card- card-body bg-success card-body-center square w-100 h-100 p-3">#}
          {#                            Add a new message#}
          {#                        </div>#}
          {#                    </div>#}
          {#                    <a href="#"><div class="card no-transition w-25 btn-hover bg-success space-top">#}
          {#                        <div class="card-body">#}
          {#                            <h5 class="card-title">Card title</h5>#}
          {#                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>#}
          {#                            <p class="card-text">Some quick example text to build on the card title and make up the bulk#}
          {#                                of the card's content.</p>#}
          {#                            <a href="#" class="card-link">Card link</a>#}
          {#                            <a href="#" class="card-link">Another link</a>#}
          {#                        </div>#}
          {#                    </div></a>#}
          <div class="row space-top">
            {#                        {% for message in messages_ %}#}
            {#                            <div class="col-sm-4">#}
            {#                                <div class="card no-transition bg-success">#}
            {#                                    <div class="card-body">#}
            {#                                        <h5 class="card-title">{{ message.name }}</h5>#}
            {#                                        <h6 class="card-subtitle mb-2 text-muted">{{ message.time_created }}</h6>#}
            {#                                        <p class="card-text">{{ message.content }}</p>#}
            {#                                    </div>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        {% endfor %}#}
            <fieldset id="contact_groups">
              {% for contact_group in contact_groups %}
                <label class="col-sm-auto">
                  <input type="radio" value="{{ contact_group.chat_id }}" name="contact_group"
                         class="card-input-element d-none"/>
                  <div class="card no-transition bg-success d-flex flex-row justify-content-between align-items-center">
                    <div class="card-body">
                      <div class="col-sm-auto">
                        <a href="{% url 'Contacts-delete' contact_group.chat_id %}"
                           class="btn btn-si bg-danger">
                          <div class="card-icon"><i
                            class="nc-icon nc-simple-remove"></i></div>
                        </a>
                        {#                                                <div class="float-right col-1">#}
                        <a href="{% url 'Contacts-manage' contact_group.chat_id %}"
                           class="btn btn-si">
                          <div class="card-icon"><i
                            class="nc-icon nc-bullet-list-67"></i></div>
                        </a></div>
                      <h5 class="card-title">{{ contact_group.chat_name }}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{ contact_group.time_created }}</h6>
                      <p class="card-text">{{ contact_group.users_count }} users in DB </p>
                    </div>
                  </div>
                </label>
              {% endfor %}
            </fieldset>
            <div class="col-sm-auto">
              <div id="af-telegram-group" class="card no-transition bg-primary">
                <a href="{% url 'Contacts-add' %}">
                  <div class="card-body">
                    <h5 class="card-category">Add a group</h5>
                    <div class="card-icon"><i class="nc-icon nc-simple-add"></i></div>
                    <h6 class="card-title">Add from Telegram Group</h6>
                  </div>
                </a>
              </div>
            </div>
          </div>
{#          <h3 class="space-top">Messages</h3>#}
{#          <div class="separator-line"></div>#}
          {#                    <div class="col-md-5 col-sm-5">#}
          {#                        <div class="card card- card-body bg-success card-body-center square w-100 h-100 p-3">#}
          {#                            Add a new message#}
          {#                        </div>#}
          {#                    </div>#}
          <div class="row space-top">
{#            <fieldset id="messages">#}
{#              {% for message in messages_ %}#}
{#                <label class="col-sm-auto">#}
{#                  <input type="radio" value="{{ message.content }}" name="message"#}
{#                         class="card-input-element d-none"/>#}
{#                  <div class="card no-transition bg-success d-flex flex-row justify-content-between align-items-center">#}
{#                    <div class="card-body">#}
{#                      <div>#}
                        {#                                                <div class="float-right col-1">#}
{#                        <a href="{% url 'Messages-delete' message.name %}"#}
{#                           class="btn btn-si bg-danger">#}
{#                          <div class="card-icon"><i#}
{#                            class="nc-icon nc-simple-remove"></i></div>#}
{#                        </a>#}
{#                      </div>#}
{#                      <h5 class="card-title">{{ message.name }}</h5>#}
{#                      <h6 class="card-subtitle mb-2 text-muted">{{ message.time_created }}</h6>#}
{#                      <p class="card-text">{{ message.content }}</p>#}
{#                    </div>#}
{#                  </div>#}
{#                </label>#}
{#              {% endfor %}#}
{#            </fieldset>#}
{#            <div class="col-sm-auto">#}
{#              <div class="card no-transition bg-primary">#}
{#                <a href="{% url 'Messages-add' %}">#}
{#                  <div class="card-body">#}
{#                    <h5 class="card-category">Add a Message</h5>#}
{#                    <div class="card-icon"><i class="nc-icon nc-simple-add"></i></div>#}
{#                    <h6 class="card-title">Write a message</h6>#}
{#                  </div>#}
{#                </a>#}
{#              </div>#}
{#            </div>#}

          </div>
          <h3 class="space-top">Created Groups</h3>
          <div class="separator-line"></div>
          <div class="row space-top">
            <fieldset id="created_groups">
              {% for created_group in created_groups %}
                <label class="col-sm-auto">
                  <input type="radio" value="{{ created_group.id }}" name="created_group"
                         class="card-input-element d-none"/>
                  <div class="card no-transition bg-success d-flex flex-row justify-content-between align-items-center">
                    <div class="card-body">
                      <a
                        id="{{ created_group.chat_id }}"
                        {#                        href="{% url "add_contacts_to_group" created_group.chat_id %}"#}
                        class="btn btn-info import-contacts with-loader"
                        role="button"
                      >Import contacts</a>
                      <h5 class="card-title">{{ created_group.group_name }}</h5>

                      <p class="card-text">{{ created_group.users_added_count }}
                        of {{ created_group.users_to_add_count }} users added in the group</p>
                      <a href="{% url "delete" created_group.id %}"
                         class="btn btn-si bg-danger">
                        <div class="card-icon">
                          <i class="nc-icon nc-simple-remove"></i>
                        </div>
                      </a>
                    </div>

                  </div>

                </label>
              {% endfor %}
            </fieldset>
          </div>


          {#                    <form>#}
          {#                        <div class="row">#}
          {#                            <div class="col-md-5 col-sm-5">#}
          {#                                <h6>Product Image</h6>#}
          {#                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">#}
          {#                                    <div class="fileinput-new thumbnail img-no-padding"#}
          {#                                         style="max-width: 370px; max-height: 250px;">#}
          {#                                        <img src="../../TelegramApplication/static/TelegramApplication/assets/img/image_placeholder.jpg"#}
          {#                                             alt="...">#}
          {#                                    </div>#}
          {#                                    <div class="fileinput-preview fileinput-exists thumbnail img-no-padding"#}
          {#                                         style="max-width: 370px; max-height: 250px;"></div>#}
          {#                                    <div>#}
          {#                                        <span class="btn btn-outline-default btn-round btn-file"><span#}
          {#                                                class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input#}
          {#                                                type="file" name="..."></span>#}
          {#                                        <a href="#paper-kit" class="btn btn-link btn-danger fileinput-exists"#}
          {#                                           data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>#}
          {#                                    </div>#}
          {#                                </div>#}
          {##}
          {#                                <h6>Tags</h6>#}
          {#                                <div id="tags">#}
          {#                                    <input type="text" value="Minimal, Light, New, Friends" data-role="tagsinput"/>#}
          {#                                    <!-- <div class="tagsinput-add"></div> -->#}
          {#                                    <!-- You can change "tag-primary" with with "tag-info", "tag-success", "tag-warning","tag-danger" -->#}
          {#                                </div>#}
          {#                                <h6>Categories</h6>#}
          {#                                <div id="tags-2">#}
          {#                                    <input type="text" value="Food, Drink" data-role="tagsinput"/>#}
          {#                                    <!-- <div class="tagsinput-add"></div> -->#}
          {#                                    <!-- You can change "tag-primary" with with "tag-info", "tag-success", "tag-warning","tag-danger" -->#}
          {#                                </div>#}
          {##}
          {#                                <h6>Format <span class="icon-danger">*</span></h6>#}
          {#                                <div class="form-check-radio">#}
          {#                                    <label class="form-check-label">#}
          {#                                        <input class="form-check-input" type="radio" name="exampleRadios"#}
          {#                                               id="exampleRadios1" value="option1">#}
          {#                                        Digital#}
          {#                                        <span class="form-check-sign"></span>#}
          {#                                    </label>#}
          {#                                </div>#}
          {#                                <div class="form-check-radio">#}
          {#                                    <label class="form-check-label">#}
          {#                                        <input class="form-check-input" type="radio" name="exampleRadios"#}
          {#                                               id="exampleRadios2" value="option2" checked>#}
          {#                                        Print#}
          {#                                        <span class="form-check-sign"></span>#}
          {#                                    </label>#}
          {#                                </div>#}
          {##}
          {#                            </div>#}
          {##}
          {#                            <div class="col-md-7 col-sm-7">#}
          {#                                <div class="form-group">#}
          {#                                    <h6>Name <span class="icon-danger">*</span></h6>#}
          {#                                    <input type="text" class="form-control border-input"#}
          {#                                           placeholder="enter the product name here...">#}
          {#                                </div>#}
          {#                                <div class="form-group">#}
          {#                                    <h6>Tagline <span class="icon-danger">*</span></h6>#}
          {#                                    <input type="text" class="form-control border-input"#}
          {#                                           placeholder="enter the product tagline here...">#}
          {#                                </div>#}
          {#                                <div class="row price-row">#}
          {#                                    <div class="col-md-6">#}
          {#                                        <h6>Price <span class="icon-danger">*</span></h6>#}
          {#                                        <div class="input-group border-input">#}
          {#                                            <input type="text" value="" placeholder="enter price"#}
          {#                                                   class="form-control border-input">#}
          {#                                            <span class="input-group-addon"><i class="fa fa-euro"></i></span>#}
          {#                                        </div>#}
          {##}
          {#                                    </div>#}
          {#                                    <div class="col-md-6">#}
          {#                                        <h6>Discount</h6>#}
          {#                                        <div class="input-group border-input">#}
          {#                                            <input type="text" value="" placeholder="enter discount"#}
          {#                                                   class="form-control border-input">#}
          {#                                            <span class="input-group-addon">%</span>#}
          {#                                        </div>#}
          {#                                    </div>#}
          {#                                </div>#}
          {#                                <div class="form-group">#}
          {#                                    <h6>Description</h6>#}
          {#                                    <textarea class="form-control textarea-limited"#}
          {#                                              placeholder="This is a textarea limited to 150 characters." rows="13" ,#}
          {#                                              maxlength="150"></textarea>#}
          {#                                    <h5>#}
          {#                                        <small><span id="textarea-limited-message" class="pull-right">150 characters left</span>#}
          {#                                        </small>#}
          {#                                    </h5>#}
          {##}
          {#                                </div>#}
          {#                                <div class="form-check">#}
          {#                                    <label class="form-check-label">#}
          {#                                        <input class="form-check-input" type="checkbox" value="">#}
          {#                                        Display on landing page#}
          {#                                        <span class="form-check-sign"></span>#}
          {#                                    </label>#}
          {#                                </div>#}
          {#                            </div>#}
          {#                        </div>#}
          {##}
          {##}
          {#                        <div class="row buttons-row">#}
          {#                            <div class="col-md-4 col-sm-4">#}
          {#                                <button class="btn btn-outline-danger btn-block btn-round">Cancel</button>#}
          {#                            </div>#}
          {#                            <div class="col-md-4 col-sm-4">#}
          {#                                <button class="btn btn-outline-primary btn-block btn-round">Save</button>#}
          {#                            </div>#}
          {#                            <div class="col-md-4 col-sm-4">#}
          {#                                <button class="btn btn-primary btn-block btn-round">Save & Publish</button>#}
          {#                            </div>#}
          {#                        </div>#}
          {#                    </form>#}

        </div>
        <button
          type="button"
          id="create-group-button"
          class="btn btn-danger btn-lg float-right"
        >
          Create group <i class="fa fa-chevron-right"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="modal-group-form">

                  {{ form.as_p }}
                  <button type="submit" class="btn btn-outline-primary with-loader">Save</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    {#        <div class="container">#}


    {#            <div class="row">#}
    {#                <div class="col-md-10 ml-auto mr-auto">#}
    {#                    <div class="table-responsive">#}
    {#                        <table class="table table-shopping">#}
    {#                            <tbody>#}
    {#                            <tr class="tr-actions">#}
    {#                                <td colspan="3"></td>#}
    {#                                <td colspan="2" class="text-right">#}
    {#                                    <button type="button" class="btn btn-danger btn-lg">Send message <i#}
    {#                                            class="fa fa-chevron-right"></i></button>#}
    {#                                </td>#}
    {#                            </tr>#}
    {#                            </tbody>#}
    {#                        </table>#}
    {#                    </div>#}

    {#                </div>#}
    {#            </div>#}

  </div>
  {% include 'App/footer.html' %}
  </body>
  {#    <script type="text/javascript">#}
  {##}
  {#$('.card-input-element').click( function() {#}
  {#  console.log($('#demo1').prop('checked'));#}
  {# });#}
  {#    </script>#}
  <script type="text/javascript">
    {#  to uncomment this shit oneday, probably unnecessary but idk #}
    {% comment %}let phone_number;
    let contact_group_id;
    let message_text;
    let to_group_id;

    let message_sent = false;
    $('.card-input-element').click(function () {
      try {
        switch (this.name) {
          case 'account':
            phone_number = this.value;
            break;
          case 'contact_group':
            contact_group_id = this.value;
            break;
          case 'message':
            message_text = this.value;
            break;
          case 'created_group':
            to_group_id = this.value;
            break;
          default:
            break;
        }
        if (phone_number && contact_group_id && message_text && to_group_id) {
          $('#send-message-button').removeClass('disabled').unbind('click').html('Add users to the group  <i\n' +
            '                            class="fa fa-chevron-right"></i>').click(function () {
            if (!message_sent) {
              $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                  xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
              });
              $.post((document.location.origin + $('#message-send-form').attr('action')), {
                phone_number: phone_number,
                contact_group_id: contact_group_id,
                group_name: message_text,
                to_group_id: to_group_id,
              }, function (json) {
                console.log(json);
                if (json.result === true) {
                  alert('Contacts added successfully');
                } else {
                  alert('Contacts are not added!');
                }
              }, 'json');
              {#message_sent = true;#}
            } else {
              alert('Reload the page to be able to click again!');
              $('#send-message-button').unbind('click')
            }
          });
        } else if (phone_number && contact_group_id && message_text) {
          {#alert(phone_number + '\n' +#}
          {#    contact_group_id + '\n' +#}
          {#    message_text)#}
          {#$('#send-message-button');#}
          $('#send-message-button').removeClass('disabled').unbind('click').click(function () {
            if (!message_sent) {
              $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                  xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
              });
              $.post((document.location.origin + $('#message-send-form').attr('action')), {
                phone_number: phone_number,
                contact_group_id: contact_group_id,
                group_name: message_text,
              }, function (json) {
                console.log(json);
                if (json.result === true && json.added_count !== 0) {
                  alert('Group created successfully\n' +
                    'Added ' + json.added_count + ' users!');
                } else if (json.result === true) {
                  alert('All users has been already added!')
                } else {
                  alert('Group are not created!');
                }
              }, 'json');
              {#message_sent = true;#}
            } else {
              alert('Reload the page to be able to create a group again!');
              $('#send-message-button').unbind('click')
            }
          });

        }
      } catch (e) {
        console.error(e)
      }

    });{% endcomment %}
  </script>
{% endblock %}
