<nav class="navbar navbar-expand-lg fixed-top bg-danger nav-down">
    <div class="container">
        <div class="navbar-translate">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'App-home' %}">Home Page</a>
            </div>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                    data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html" data-scroll="true" href="javascript:void(0)">Contacts</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">Messages</a>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a class="dropdown-item" href="sections.html#headers"><i class="nc-icon nc-bullet-list-67"></i>&nbsp;
                            All Messages</a>
                        <a class="dropdown-item" href="sections.html#features"><i class="nc-icon nc-settings"></i>&nbsp;
                            Manage Messages</a>
                        <a class="dropdown-item" href="sections.html#teams"><i class="nc-icon nc-simple-add"></i>&nbsp;
                            Add A Message</a>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Telegram
                        Accounts</a>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a class="dropdown-item" href="sections.html#headers"><i class="nc-icon nc-bullet-list-67"></i>&nbsp;
                            All Accounts</a>
                        <a class="dropdown-item" href="sections.html#features"><i class="nc-icon nc-settings"></i>&nbsp;
                            Manage Accounts</a>
                        <a class="dropdown-item" href="{% url "Accounts-add" %}"><i class="nc-icon nc-simple-add"></i>&nbsp;
                            Add A Account</a>
                    </ul>
                </li>
                <li class="nav-item content-center">
                    <a class="btn btn-round btn-danger" href="{% url 'TelegramApplication-home' %}"> Log Out <i
                            class="nc-icon nc-user-run"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>