{% extends 'wrapper.html' %}
{% load static %}
{% block body %}

    <body>
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <div class="jumbotron">
                    <h1>Use cards as radio buttons for Bootstrap 4 - Advanced Components</h1>
                    <p class="lead">by djibe.</p>
                    <p class="text-muted">(thx to BS4 + Daemonite Material Design for Bootstrap 4)</p>
                    <h2>
                        Tutorial
                    </h2>
                    <ol>
                        <li>
                            Wrap a standard radio input within a <code>label</code>:<br>
                            <code>
                                &lt;label>
                                &lt;input type="radio" name="organization" class="card-input-element d-none" id="demo">
                                &lt;/label>
                            </code>
                        </li>
                        <li>
                            Set CSS property <code>display: none</code> to this radio input. Here I use Bootstrap 4
                            utility <code>d-none</code> class.
                        </li>
                        <li>Within this label, just after the <code>input type="radio"</code>, now add a simple div
                            styled as a card:<br>
                            <code>&lt;div class="card card-body d-flex flex-row justify-content-between
                                align-items-center">
                                Organization 1
                                &lt;/div></code>
                        </li>
                        <li>
                            Add some CSS (refer to this fiddle CSS) for a better look.
                        </li>
                        <li>Et voilà</li>
                    </ol>
                    <h2>
                        Demo
                    </h2>
                    <p>
                        Click on those cards to play with radios styled as cards.<br> You can remove the animated check
                        icon effect.
                    </p>
                    <p class="lead">
                        Choose your Organization:
                    </p>
                    <label>
                        <input type="radio" name="demo" class="card-input-element d-none" id="demo1">
                        <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                            Organization 1
                        </div>
                    </label>
                    <label class="mt-3">
                        <input type="radio" name="demo" class="card-input-element d-none" value="demo2">
                        <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                            Organization 2
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}