{% extends 'wrapper.html' %}
{% block body %}
    <body>
    {% include 'App/navbar.html' %}
    <div class="wrapper">
        <div class="main">
            <div class="section">
                <div class="container">
                    <h3>Add Message</h3>
                    <form method="post" class="space-top">
                        {% csrf_token %}
                        <div class="row">

                        </div>

                        <div class="col-md-7 col-sm-7">
                            <div class="form-group">
                                <h6>Name <span class="icon-danger">*</span></h6>
                                <input type="text" name="name" class="form-control border-input"
                                       placeholder="Enter name for this message (it won't be shown in the messages you will send)" required>
                            </div>
                            <div class="form-group">
                                <h6>Content <span class="icon-danger">*</span></h6>
                                <textarea name="content" class="form-control textarea-limited"
                                          placeholder="Your message goes here..." rows="13" required></textarea>
                            </div>
                        </div>
                        <div class="row buttons-row space-top">
                            <div class="col-md-3 col-sm-3">
                                <a href="{% url 'App-home' %}">
                                    <button class="btn btn-outline-danger btn-block btn-round">Cancel</button>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <button type="submit" class="btn btn-primary btn-block btn-round">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include 'App/footer.html' %}
    </body>
{% endblock %}